.footer {
    background-color: $second-color;
    text-align: center;
    padding: 2vh 0;
    width: 100%;
    color: $primary-color;
    @include mediamobile () {
        padding: 8vh 0;
        .logoKasa {
            width:5em;
        }
    }
}